# Prueba para cargar y manejar datos de nitratos

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import datetime

In [5]:
ruta = Path.cwd()/'base de datos'
files = [arch.name for arch in Path(ruta).iterdir() if arch.is_file()]
excel = []
for archivo in files:
    if archivo.count('xls') != 0:
        excel.append(archivo)
excel

['Química_SACMEX 1999_JE.xlsx',
 'Química_SACMEX 2002_JE.xlsx',
 'Química_SACMEX 2005 nuevoJE.xlsx',
 'Química_SACMEX 2008_JE.xlsx',
 'Química_SACMEX 2013_JE.xlsx',
 'Química_SACMEX 2018_JE.xlsx']

# Inicio

In [7]:
ruta = Path.cwd()/'base de datos'
files = [arch.name for arch in Path(ruta).iterdir() if arch.is_file()]
excel = []
for archivo in files:
    if archivo.count('xls') != 0:
        excel.append(archivo)
excel
conjunto_db = []
for nombre in excel:
    df = pd.read_excel(Path.cwd()/'base de datos'/nombre,na_values=0)
    df = df[['ALCALDIA','POZO','X','Y','NO3']]
    cad = ''
    for n in [int(s) for s in nombre if s.isdigit()]:
        cad = cad + str(n)
    df['YR'] = float(cad)
    conjunto_db.append(df)
dataframe = pd.concat(conjunto_db, ignore_index=True)

dataframe

,ALCALDIA,POZO,X,Y,NO3,YR
0,Xochimilco,Nápoles,487743.000000,2.132726e+06,NaN,1999.0
1,Álvaro Obregón,Tetelpan,475535.000000,2.138416e+06,NaN,1999.0
2,Tlálpan,Coapa ISSSTE 1,487067.000000,2.133530e+06,NaN,1999.0
3,Tlálpan,Coapa ISSSTE 2,488738.000000,2.133603e+06,NaN,1999.0
4,Azcapotzalco,Hogar y Seguridad,482157.000000,2.152446e+06,NaN,1999.0
...,...,...,...,...,...,...
1118,Coyoacán,AV. UNIVERSIDAD NUEVO (VIVEROS DE COYOACAN),482177.942933,2.139737e+06,9.473352,2018.0
1119,Benito Juárez,DIAGONAL SAN ANTONIO,484193.127194,2.145066e+06,7.481292,2018.0
1120,Miguel Hidalgo,JARDIN MORELOS,483133.584564,2.140725e+06,6.728736,2018.0
1121,Alvaro Obregón,OLIVAR DE LOS PADRES,477935.245532,2.138519e+06,10.402980,2018.0
1122,Iztapalapa,GRANJAS ESTRELLA 2,490346.672617,2.136928e+06,5.356428,2018.0

In [8]:
#Fecha
dtime = datetime.datetime.now().strftime("%A %d %B %Y %I:%M")

In [ ]:
dtime

In [9]:
#dataset1
MaxConcObs=200
MaxFluxObs=1
MaxFluxCells=0
#dataset2
outnam='prueba'
inConcObs=21
inFluxObs=22
inSaveObs=23
#dataset3
Cscale=1.0
iOutCobs=1
iConcLOG=0
iConcINTP=1
#dataset4
COBSNAM='NO3'
layer=4
weight=1
iComp=1
#transformacion coordenadas
x0=455204.440
y0=2110063.17+64000
dx=2000
dy=2000
year_ini = 1934
#dataset6
nFluxGroup=1
FScale=1
iOutFlux=1
#dataset7
nFluxTimeObs=1
ncells=0
iSSType=2
#dataset8
FOBSNAM=COBSNAM
iComp=1
FluxTimeObs=0
weight_fobs=1
FluxObs=0

In [10]:
nConcObs = dataframe['NO3'].count()

In [12]:
geometria = pd.read_excel(Path.cwd()/'geom'/'AZMCM_geom.xlsx')
dx = 1000
dy = 1000
rho = 0.1

In [13]:
geometria[(geometria['COLUMN']==1) & (geometria['ROW']==1)]

,COLUMN,ROW,ID,MODEL_TOP,LAYER_1_BO,LAYER_2_BO,LAYER_3_BO,LAYER_4_BO,LAYER_5_BO
0,1,1,1,2768.5,1247.8,1246.8,1245.8,1244.8,1243.8

In [14]:
datos_geom = geometria[(geometria['COLUMN']==1) & (geometria['ROW']==1)]

In [15]:
datos_geom.iloc[0,4]-datos_geom.iloc[0,5]

1.0

In [21]:
dtime = datetime.datetime.now().strftime("%A %d %B %Y %I:%M")
escritura = open(str(Path.cwd()/'salida'/outnam) +'.tob', 'w') 
header = '# TOB: Transport Observation package\t Created on' + dtime + '\n'
escritura.write(header)

data_set1 = f'{MaxConcObs}\t{MaxFluxObs}\t{MaxFluxCells} # Data Set 1: MaxConcObs, MaxFluxObs, MaxFluxCells\n'
escritura.write(data_set1)

data_set2 = f'{outnam}\t{inConcObs}\t{inFluxObs}\t{inSaveObs} # Data Set 2: OUTNAM, inConcObs, inFluxObs, inSaveObs\n'
escritura.write(data_set2)

data_set3= f'{nConcObs}\t{Cscale:E}\t{iOutCobs}\t{iConcLOG}\t{iConcINTP}# Data Set 3: nConcObs, CScale, iOutCobs, iConcLOG, iConcINTP\n'
escritura.write(data_set3)
check = dataframe['NO3'].notnull()

escritura.write('# Data Set 4: COBSNAM, Layer, Row, Column, iComp, TimeObs, Roff, Coff, weight, COBS\n')
for fila in range(dataframe.shape[0]):
    if check[fila]:
        COBS = dataframe['NO3'][fila]
        xmod = dataframe['X'][fila] - x0
        ymod = y0 - dataframe['Y'][fila]
        row = int(ymod//dy + 1)
        column = int(xmod//dx + 1)
        r_off = (ymod - row*dy)/dy
        c_off = (xmod - column*dx)/dx
        yr = dataframe['YR'][fila]
        timeObs = (yr - year_ini) * 3600 * 24 * 365
        
        datos_geom = geometria[(geometria['COLUMN']==column) & (geometria['ROW']==row)]
        dz = datos_geom.iloc[0,4]-datos_geom.iloc[0,5]
        
        COBS = dataframe['NO3'][fila] * dx * dy * dz * rho  # mg/l(1g/1000mg)(1000l/1m3) (m3) (adim) = g
        
        data_set4 = f'{COBSNAM}\t{layer}\t{row}\t{column}\t{iComp}  {timeObs:E}   {r_off:E}   {c_off:E}   {weight:E}   {COBS:E}\n'#datos del pozo
        escritura.write(data_set4)
data_set6 = f'\t{nFluxGroup}  {FScale:E}   {iOutFlux} # Data Set 6: nFluxGroup, FScale, iOutFlux\n'
escritura.write(data_set6)
data_set7 = f'\t{nFluxTimeObs}    {ncells}    {iSSType} # Data Set 7: nFluxTimeObs, ncells, iSSType\n'
escritura.write(data_set7)
data_set8 = f'{FOBSNAM}   {iComp}   {FluxTimeObs:E}   {weight_fobs:E}   {FluxObs:E} # Data set 8: FOBSNAM, iComp, FluxTimeObs, weight_fobs, FluxObs\n'
escritura.write(data_set8)
escritura.close()