In [1]:
import pandas as pd
import numpy as np
import math
from pathlib import Path

## Archivo a partir del excel

In [2]:
excel = pd.ExcelFile('SD_fuentes_de_error.xlsx')

In [20]:
excel = pd.ExcelFile('BASE DE DATOS DEPURADOS_MODELO.xlsx')

In [29]:
datos = excel.parse(excel.sheet_names[0],na_values=['ND', 'nd'])
suma_sd = excel.parse(excel.sheet_names[-2])
suma_sd_dr = excel.parse(excel.sheet_names[-1])

In [31]:
archivo = open(Path.cwd()/ 'output'/'datos.txt', 'w')
for fila in range(datos.shape[0]):
    pozo = datos['ID'][fila]
    indice = 1
    for columna in range(3,datos.shape[1]):
        if datos.notnull().iloc[fila, columna]:
            obs_pozo = pozo + '_' + str(indice)
                #obs = datos.iloc[fila, columna]
                #peso = suma_sd.iloc[fila, columna]

            if indice == 1:
                heads = 'Heads'
                peso = suma_sd.iloc[fila, columna]
                referencia = datos.iloc[fila, columna]
                obs = referencia
            else:
                heads = 'Head_Changes'
                peso = suma_sd_dr.iloc[fila, columna]
                obs = referencia - datos.iloc[fila, columna]

            archivo.write(f'{obs_pozo} {heads} {obs:.5f} {peso:.5f}\n')
            indice += 1
archivo.close()

## Crear a partir de datos

In [8]:
datos_entrada = pd.ExcelFile('datos_input.xlsx')

In [9]:
hojas = [datos_entrada.parse(hoja, na_values='ND') for hoja in datos_entrada.sheet_names]

In [10]:
#SD1
hojas[1]['sd1'] = np.nan
for i in range(hojas[1].shape[0]):
    hojas[1].iloc[i, 2] = math.sqrt(((hojas[1].iloc[i, 1]/100*5)/4)**2 + (1/4)**2 + (90*hojas[1].iloc[i, 1]/100/4)**2)
sd1 = hojas[1].copy()
sd1.drop('ELEVATION', axis=1, inplace = True)
sd1.set_index('ID', inplace = True)
sd1

             sd1
ID
p150    0.250000
p160    1.082535
p165    0.250000
p267    1.318536
p269    0.250000
...          ...
t97_BV  1.721423
t110_B  1.511488
tRM_1B  0.250000
tRM_7   0.250000
tRM_11  0.892931

[669 rows x 1 columns]

In [11]:
#SD2
datos = hojas[0].copy()
grad1 = hojas[2].copy()
grad2 = hojas[3].copy()

grad1.set_index('ID', inplace=True)
grad2.set_index('ID', inplace=True)

datos['m'] = np.nan
datos['b'] = np.nan
for i in range(datos.shape[0]):
    id_pozo =datos.loc[i,'ID']
    datos.loc[i,'m'] = (grad2['ELEVATION'][id_pozo] - grad1['ELEVATION'][id_pozo])/(2005-1984)
    datos.loc[i,'b'] = grad1['ELEVATION'][datos.loc[i,'ID']]-datos.loc[i,'m']*1984
    for j in range(3,datos.shape[1]-2):
        datos.iloc[i,j] = (datos.loc[i,'m']*datos.columns[j]+datos.loc[i,'b'])/100*90/4
sd2 = datos.iloc[:,3:datos.shape[1]-2]
sd2

,1984,1985,1986,1987,1988,1990,1991,1992,1993,1994,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2013
0,0.08685,0.087364,0.087879,0.088393,0.088907,0.089936,0.090450,0.090964,0.091479,0.091993,...,0.096621,0.097136,0.097650,0.098164,0.098679,0.099193,0.099707,0.100221,0.100736,0.101764
1,0.07065,0.070768,0.070886,0.071004,0.071121,0.071357,0.071475,0.071593,0.071711,0.071829,...,0.072889,0.073007,0.073125,0.073243,0.073361,0.073479,0.073596,0.073714,0.073832,0.074068
2,0.07380,0.073811,0.073821,0.073832,0.073843,0.073864,0.073875,0.073886,0.073896,0.073907,...,0.074004,0.074014,0.074025,0.074036,0.074046,0.074057,0.074068,0.074079,0.074089,0.074111
3,0.43110,0.423364,0.415629,0.407893,0.400157,0.384686,0.376950,0.369214,0.361479,0.353743,...,0.284121,0.276386,0.268650,0.260914,0.253179,0.245443,0.237707,0.229971,0.222236,0.206764
4,0.05085,0.051300,0.051750,0.052200,0.052650,0.053550,0.054000,0.054450,0.054900,0.055350,...,0.059400,0.059850,0.060300,0.060750,0.061200,0.061650,0.062100,0.062550,0.063000,0.063900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,0.32355,0.318621,0.313693,0.308764,0.303836,0.293979,0.289050,0.284121,0.279193,0.274264,...,0.229907,0.224979,0.220050,0.215121,0.210193,0.205264,0.200336,0.195407,0.190479,0.180621
665,0.49995,0.500989,0.502029,0.503068,0.504107,0.506186,0.507225,0.508264,0.509304,0.510343,...,0.519696,0.520736,0.521775,0.522814,0.523854,0.524893,0.525932,0.526971,0.528011,0.530089
666,0.03960,0.039321,0.039043,0.038764,0.038486,0.037929,0.037650,0.037371,0.037093,0.036814,...,0.034307,0.034029,0.033750,0.033471,0.033193,0.032914,0.032636,0.032357,0.032079,0.031521
667,0.03645,0.037854,0.039257,0.040661,0.042064,0.044871,0.046275,0.047679,0.049082,0.050486,...,0.063118,0.064521,0.065925,0.067329,0.068732,0.070136,0.071539,0.072943,0.074346,0.077154
668,0.05625,0.057471,0.058693,0.059914,0.061136,0.063579,0.064800,0.066021,0.067243,0.068464,...,0.079457,0.080679,0.081900,0.083121,0.084343,0.085564,0.086786,0.088007,0.089229,0.091671

In [12]:
#sd4
datos1 = hojas[0].copy()
elevacion = hojas[4].copy()
elevacion.set_index('ID', inplace=True)

for i in range(datos.shape[0]):
    datos1.iloc[i,3:] = elevacion['elev pozo'][datos1.loc[i,'ID']] - datos1.iloc[i,3:]

sd4 = datos1.iloc[:,3:]
sd4 = (sd4 * 0.001) / 2
sd4.fillna(value=0, inplace=True)
sd4

,1984,1985,1986,1987,1988,1990,1991,1992,1993,1994,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2013
0,0.000000,0.000000,0.038385,0.038625,0.000000,0.000000,0.039155,0.039485,0.039640,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,0.000785,0.000840,0.000945,0.001050,0.002360,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,0.010145,0.015700,0.015860,0.016450,0.016835,0.016525,0.017140,0.016540,0.018455,0.018140,...,0.019915,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,0.016630,0.015925,0.018780,0.019220,0.018855,0.020325,0.021370,0.021550,0.022835,0.020895,...,0.026535,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,0.023240,0.022460,0.022915,0.023775,0.024340,0.026590,0.027065,0.026950,0.026590,0.025940,...,0.028875,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.050770,0.050955,0.051450,0.00000,0.053195,0.000000,0.000000,0.053965,0.000000,0.0
665,0.034775,0.035070,0.035775,0.036335,0.036710,0.038430,0.039100,0.039400,0.039800,0.040420,...,0.041475,0.045070,0.045640,0.04713,0.047870,0.049305,0.049365,0.050930,0.051435,0.0
666,0.000000,0.000000,0.000000,0.000000,0.000000,0.019140,0.020300,0.021340,0.021400,0.020830,...,0.024830,0.026000,0.025535,0.02589,0.026685,0.026830,0.027700,0.027795,0.000000,0.0
667,0.000000,0.000000,0.000000,0.000000,0.000000,0.013915,0.014380,0.014760,0.015195,0.015595,...,0.020680,0.019330,0.022145,0.00000,0.022525,0.022645,0.023145,0.022550,0.000000,0.0
668,0.000000,0.000000,0.000000,0.000000,0.000000,0.013985,0.014340,0.014235,0.014990,0.015145,...,0.023260,0.020455,0.020505,0.00000,0.013990,0.023645,0.023530,0.023885,0.000000,0.0

In [13]:
#sd5 
datos.iloc[:,:-2] = hojas[0]
for i in range(datos.shape[0]):
    for j in range(3,datos.shape[1]-2):
        datos.iloc[i,j] = (datos.loc[i,'m']*datos.columns[j]+datos.loc[i,'b'])/100*2000/4
sd5 = datos.iloc[:,3:datos.shape[1]-2]
sd5

,1984,1985,1986,1987,1988,1990,1991,1992,1993,1994,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2013
0,1.93,1.941429,1.952857,1.964286,1.975714,1.998571,2.010000,2.021429,2.032857,2.044286,...,2.147143,2.158571,2.170,2.181429,2.192857,2.204286,2.215714,2.227143,2.238571,2.261429
1,1.57,1.572619,1.575238,1.577857,1.580476,1.585714,1.588333,1.590952,1.593571,1.596190,...,1.619762,1.622381,1.625,1.627619,1.630238,1.632857,1.635476,1.638095,1.640714,1.645952
2,1.64,1.640238,1.640476,1.640714,1.640952,1.641429,1.641667,1.641905,1.642143,1.642381,...,1.644524,1.644762,1.645,1.645238,1.645476,1.645714,1.645952,1.646190,1.646429,1.646905
3,9.58,9.408095,9.236190,9.064286,8.892381,8.548571,8.376667,8.204762,8.032857,7.860952,...,6.313810,6.141905,5.970,5.798095,5.626190,5.454286,5.282381,5.110476,4.938571,4.594762
4,1.13,1.140000,1.150000,1.160000,1.170000,1.190000,1.200000,1.210000,1.220000,1.230000,...,1.320000,1.330000,1.340,1.350000,1.360000,1.370000,1.380000,1.390000,1.400000,1.420000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,7.19,7.080476,6.970952,6.861429,6.751905,6.532857,6.423333,6.313810,6.204286,6.094762,...,5.109048,4.999524,4.890,4.780476,4.670952,4.561429,4.451905,4.342381,4.232857,4.013810
665,11.11,11.133095,11.156190,11.179286,11.202381,11.248571,11.271667,11.294762,11.317857,11.340952,...,11.548810,11.571905,11.595,11.618095,11.641190,11.664286,11.687381,11.710476,11.733571,11.779762
666,0.88,0.873810,0.867619,0.861429,0.855238,0.842857,0.836667,0.830476,0.824286,0.818095,...,0.762381,0.756190,0.750,0.743810,0.737619,0.731429,0.725238,0.719048,0.712857,0.700476
667,0.81,0.841190,0.872381,0.903571,0.934762,0.997143,1.028333,1.059524,1.090714,1.121905,...,1.402619,1.433810,1.465,1.496190,1.527381,1.558571,1.589762,1.620952,1.652143,1.714524
668,1.25,1.277143,1.304286,1.331429,1.358571,1.412857,1.440000,1.467143,1.494286,1.521429,...,1.765714,1.792857,1.820,1.847143,1.874286,1.901429,1.928571,1.955714,1.982857,2.037143

In [27]:
sd3 = sd1.copy()
sd3['sd3'] = 1.5
sd3.drop('sd1', axis=1, inplace = True)

In [28]:
#Suma Carga
sum_sd_carga = hojas[0].copy()
for i in range(sum_sd_carga.shape[0]):
    for j in range(3,sum_sd_carga.shape[1]):
        pozo = sum_sd_carga.loc[i,'ID']
        sum_sd_carga.iloc[i,j] = math.sqrt(sd1['sd1'][pozo]**2 + sd2.iloc[i, j-3]**2 + sd3['sd3'][pozo]**2
                                           + sd4.iloc[i, j-3]**2 + sd5.iloc[i, j-3]**2)
sum_sd_carga.iloc[:,3:]

,1984,1985,1986,1987,1988,1990,1991,1992,1993,1994,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2013
0,2.458647,2.467646,2.476963,2.486006,2.494765,2.512942,2.522363,2.531503,2.540659,2.549523,...,2.632880,2.642227,2.651591,2.660971,2.670367,2.679779,2.689206,2.698650,2.708108,2.727071
1,2.427298,2.428996,2.430696,2.432397,2.434101,2.437512,2.439220,2.440929,2.442641,2.444354,...,2.459842,2.461571,2.463301,2.465033,2.466767,2.468502,2.470239,2.471977,2.473717,2.477201
2,2.237778,2.237985,2.238161,2.238340,2.238518,2.238865,2.239045,2.239215,2.239405,2.239577,...,2.241167,2.241254,2.241429,2.241604,2.241779,2.241954,2.242130,2.242305,2.242480,2.242830
3,9.795461,9.627060,9.458798,9.290670,9.122689,8.787207,8.619723,8.452422,8.285319,8.118416,...,6.628285,6.464358,6.300921,6.137957,5.975505,5.813606,5.652308,5.491666,5.331736,5.014292
4,1.895396,1.901377,1.907407,1.913476,1.919574,1.931884,1.938079,1.944297,1.950544,1.956818,...,2.014761,2.021134,2.027742,2.034377,2.041040,2.047731,2.054448,2.061192,2.067963,2.081582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,7.550767,7.446339,7.342062,7.237944,7.133991,6.926611,6.823200,6.719986,6.616979,6.514188,...,5.600991,5.501068,5.401524,5.302125,5.203662,5.105101,5.007283,4.910261,4.813175,4.621319
665,11.323332,11.346040,11.368751,11.391463,11.414176,11.459610,11.482329,11.505048,11.527769,11.550493,...,11.755059,11.777809,11.800549,11.823294,11.846038,11.868787,11.891531,11.914283,11.937032,11.982420
666,1.757404,1.754306,1.751224,1.748160,1.745111,1.739170,1.736186,1.733217,1.730255,1.727301,...,1.701622,1.698870,1.696111,1.693382,1.690679,1.687984,1.685320,1.682661,1.679790,1.674563
667,1.723348,1.738256,1.753593,1.769349,1.785511,1.819066,1.836387,1.854072,1.872110,1.890493,...,2.069843,2.091135,2.112714,2.134390,2.156531,2.178779,2.201249,2.223919,2.246687,2.293043
668,2.147787,2.163729,2.179893,2.196274,2.212867,2.246715,2.263919,2.281314,2.298905,2.316676,...,2.484336,2.503715,2.523263,2.542867,2.562729,2.582758,2.602844,2.623063,2.643295,2.684340

In [31]:
#Suma Abatimiento
sum_sd_abat = 0
sum_sd_abat = hojas[0].copy()
for i in range(sum_sd_abat.shape[0]):
    for j in range(3,sum_sd_abat.shape[1]):
        pozo = sum_sd_abat.loc[i,'ID']
        sum_sd_abat.iloc[i,j] = math.sqrt(sd3['sd3'][pozo]**2 + sd4.iloc[i, j-3]**2)
sum_sd_abat.iloc[:,3:]

,1984,1985,1986,1987,1988,1990,1991,1992,1993,1994,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2013
0,1.500000,1.500000,1.500491,1.500497,1.500000,1.500000,1.500511,1.500520,1.500524,1.500000,...,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.5
1,1.500000,1.500000,1.500000,1.500000,1.500002,1.500000,1.500000,1.500000,1.500000,1.500000,...,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.5
2,1.500034,1.500082,1.500084,1.500090,1.500094,1.500091,1.500098,1.500091,1.500114,1.500110,...,1.500132,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.5
3,1.500092,1.500085,1.500118,1.500123,1.500118,1.500138,1.500152,1.500155,1.500174,1.500146,...,1.500235,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.5
4,1.500180,1.500168,1.500175,1.500188,1.500197,1.500236,1.500244,1.500242,1.500236,1.500224,...,1.500278,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,...,1.500859,1.500865,1.500882,1.500000,1.500943,1.500000,1.500000,1.500970,1.500000,1.5
665,1.500403,1.500410,1.500427,1.500440,1.500449,1.500492,1.500510,1.500517,1.500528,1.500544,...,1.500573,1.500677,1.500694,1.500740,1.500764,1.500810,1.500812,1.500864,1.500882,1.5
666,1.500000,1.500000,1.500000,1.500000,1.500000,1.500122,1.500137,1.500152,1.500153,1.500145,...,1.500205,1.500225,1.500217,1.500223,1.500237,1.500240,1.500256,1.500257,1.500000,1.5
667,1.500000,1.500000,1.500000,1.500000,1.500000,1.500065,1.500069,1.500073,1.500077,1.500081,...,1.500143,1.500125,1.500163,1.500000,1.500169,1.500171,1.500179,1.500169,1.500000,1.5
668,1.500000,1.500000,1.500000,1.500000,1.500000,1.500065,1.500069,1.500068,1.500075,1.500076,...,1.500180,1.500139,1.500140,1.500000,1.500065,1.500186,1.500185,1.500190,1.500000,1.5