In [1]:
import pandas as pd
from funcion import *
import matplotlib.pyplot as plt
#%matplotlib inline
def graficar(orig, df,  xlabel, ylabel, tag = ''):
    from pathlib import Path
    for i in range(df.shape[0]):#
        fig, axes = plt.subplots(figsize=(5,6))
        df.iloc[i,:].plot(ax=axes, color="red", lw=1, ls='-', marker='s',  markersize=4)
        titulo = str(orig.iloc[i,0])
        #plt.show()
        axes.set_title(titulo)
        axes.set_xlabel(xlabel)
        axes.set_ylabel(ylabel, rotation=90)
        plt.grid(True)
        n_salida = titulo+'_'+tag+'.png'
        plt.savefig(Path.cwd()/'salida'/n_salida, dpi=300)
        plt.close()

In [2]:
nombre = contar_archivo()[0]
datos = pd.ExcelFile(nombre)
df = datos.parse()
df = df.iloc[:,2:13]
df.drop(columns = ['slope','C_2000_ast'], inplace=True)

In [3]:
#Elevaciones
elevaciones = df.iloc[:,3:].copy()
#diferencias
diferencias = pd.DataFrame()
diferencias['dif00'] = df[df.columns[3]]-df[df.columns[3]]
diferencias['dif00-05'] = df[df.columns[4]]-df[df.columns[3]]
diferencias['dif05-12'] = df[df.columns[5]]-df[df.columns[4]]
diferencias['dif12-14'] = df[df.columns[6]]-df[df.columns[5]]
diferencias['dif14-17'] = df[df.columns[7]]-df[df.columns[6]]
diferencias['dif17-18'] = df[df.columns[8]]-df[df.columns[7]]
#hundimientos
hundimientos = pd.DataFrame()
hundimientos['2000'] = df[df.columns[3]]-df[df.columns[3]]
hundimientos['2005'] = df[df.columns[4]]-df[df.columns[3]]
hundimientos['2012'] = df[df.columns[5]]-df[df.columns[3]]
hundimientos['2014'] = df[df.columns[6]]-df[df.columns[3]]
hundimientos['2017'] = df[df.columns[7]]-df[df.columns[3]]
hundimientos['2018'] = df[df.columns[8]]-df[df.columns[3]]

In [ ]:
#GRAFICAS
#Elevaciones
graficar(df, elevaciones,'año','elevacion', 'Elevaciones')
#abatimientos
graficar(df, hundimientos,'año','elevacion','hundimientos')
#Diferencias
graficar(df, diferencias, 'año','elevacion', 'Diferencias')

In [10]:
diferencias

     dif00  dif00-05  dif05-12  dif12-14  dif14-17  dif17-18
0        0        -9         1        -2        -7         3
1        0        -7        -4        -6        -5         3
2        0         3         0        -3       -13        10
3        0       -18        14        -3         2         4
4        0        -2        -2         4        -6         5
..     ...       ...       ...       ...       ...       ...
519      0         4        -9         2       -10        14
520      0        -8         6         4       -19        10
521      0         0         0         1       -19        19
522      0        -8         3        -2       -14        14
523      0        -4         4        -2       -11        13

[524 rows x 6 columns]

In [22]:
dif = dif.iloc[:,:3].copy()
dif = dif.join(diferencias)
dif.to_excel('diferencias.xlsx', index=False)

In [59]:
#Estadísticas de las diferencias, como valores absolutos
diferencias.iloc[0,:].abs().describe()

count    6.000000
mean     3.666667
std      3.559026
min      0.000000
25%      1.250000
50%      2.500000
75%      6.000000
max      9.000000
Name: 0, dtype: float64

In [60]:
#Estadísticas de las diferencias
diferencias.iloc[0,:].describe()

count    6.000000
mean    -2.333333
std      4.718757
min     -9.000000
25%     -5.750000
50%     -1.000000
75%      0.750000
max      3.000000
Name: 0, dtype: float64